@model IEnumerable<SmartLands.Models.Area>

@{
    ViewData["Title"] = "Khu vực giám sát";
}

<h4>Thêm mới - Khu vực giám sát</h4>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table datatable" id="Areas">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AreaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AreaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AreaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script>
        const dataTable = new simpleDatatables.DataTable("#Areas", {         
            perPageSelect: [5, 10, 15, ["All", -1]],
            searchable: true,
            fixedHeight: true,
        })
    </script>
}