@model SmartLands.Models.SensorData

@{
    ViewData["Title"] = "Delete";
}

<h4>Dữ liệu cảm biến - Xóa dữ liệu</h4>

<h5>Bạn có chắc xóa thông tin này không?</h5>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sensor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sensor.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
    </dl>
    <p></p>
    <form asp-action="Delete">
        <input type="hidden" asp-for="SensorDataId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
